obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.cache
*.nupkg
~$*
*.suo
LPRun.5.1.ReSharper.user
LPRun.5.1.ReSharper.user
LPRun.suo
LPRun.5.1.ReSharper.user
Qwizzard.Web/App_Data/log.txt
Qwizzard.Web/App_Data/log.txt
/Qwizzard.Web/App_Data
/Qwizzard_mm_cache.bin
Qwizzard.Web/config.hbm.xml
Qwizzard.Web/config.hbm.xml
Qwizzard.Web/tests.ab
*.orig
Qwizzard.Web/Qwizzard.Web.Publish.xml
Qwizzard.Web/Qwizzard.Web.Publish.xml
/Qwizzard.Web/Bin
*.user